.calculator{
    
    background-color: #3AAFA9;

    height: 160px;
    padding: 20px;

    color: #FEFFFF;
    display: block;
    align-items: center;
    justify-content: center;

}

.calculator #title{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator #title img{
    margin: 0;
    margin-left: 20px;
    height: 70px;
}

.calculator #title span{
    padding-top: 20px;
    font-weight: bold;
    font-size: 50px;
    height: 80px;
}


.calculator #content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator #content p{
    font-size: 25px;
    margin-right: 50px;

}

.calculator #content button{
    justify-self: end;

    font-size: 20px;
    font-weight: bold;
    
    color: #FEFFFF;
    background-color: #2B7A78;

    border: 0;
    border-radius: 7px;

    width: 220px;
    height: 45px;

    outline: none;

    transition: 300ms;
    cursor: pointer;
}

.calculator #content button:hover{
    background-color: #17252a;
}


#modal{
    color: #FEFFFF;
    background: #3AAFA9;
    
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    width: 40%;
    height: 90%;

    display: flex;
    justify-content: center;
    margin: auto;

    border-radius: 10px;
    transition: 400ms;
    box-shadow:0 4px 16px -8px rgba(1, 1, 1, 0.6);
}

#modal .content{
    width: 80%;
    height: 90%;
    text-align: center;
}

#bg{
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: 400ms;
    
    background-color: rgba(0, 0, 0, 0.7);
}

#bg.hide{
    opacity: 0;
    visibility: hidden;
}

#modal.hide {
    opacity: 0;
    visibility: hidden;
}

#modal form{
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#modal a{
    cursor: pointer;
    color: #FEFFFF;
    font-weight: bold;
    text-decoration: none;

    width: 100px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

#modal button{
    cursor: pointer;
    float: right;

    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;

    outline: none;
    border-radius: 5px;
    border: none;

    background-color:#2B7A78;
    color: #FEFFFF;

    transition: 300ms;
}

#modal button:hover{
    background-color:rgb(30, 83, 82);
}

#modal .input{
    float: left;
    margin: 0;
}

.form{
    width: 60%;
    position: relative;
    height: 50px;
    overflow: hidden;
    z-index: 12;
}

.form input{
    width: 100%;
    height: 100%;
    color: #FEFFFF;
    padding-top: 15px;
    border: none;
    background-color: #3AAFA9;
    outline: none;
}

.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #FEFFFF;
}

.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #2B7A78;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}



.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-120%);
    font-size: 14px;
    color: #2B7A78;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
}