body{
    line-height: 1.5;
    margin: 0;
    background: url('../imagens/fundo2.jpg')no-repeat;
}
/* global*/
.dados input{
    height: 25px;
    width: 100%;
    border-bottom: 2px rgb(0, 160, 160) solid;
    
}
.botao{
    border: hidden;
    background-color:rgb(0, 160, 160);
    color: #fff;
    height: 50px;
    width: 100px;
    border-radius: 10%;
}

/*Login*/

.container{
    margin: auto;
    width: 80%;
}
.dados{
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255,0.65); 
    width: 300px;
    height: 300px;
    border-radius: 7%;
}

.caixa .texto{
    margin-bottom: auto;
    margin-top: 20px;
}
.caixa h3{
    color:  rgb(0, 160, 160);
    padding-top:  20px;
    margin-bottom: 0;
    
}
    
.caixa h5{
    color: rgb(0, 160, 160);
    font-style: normal;
    margin-top: 6px;
}
.caixa .chec{
    float: left;
    width: 20px;
}

.dados .botao{
    margin-top: 5px;
    float: right;
}
/*Cadastro*/
.dados2{
    margin: auto;
    background-color: rgba(255, 255, 255,0.65); 
    width: 300px;
    height: 650px;
    border-radius: 3%;
}
.dados2 input{
    height: 25px;
    width: 100%;
    border-bottom: 2px rgb(0, 160, 160) solid;
    margin-top: 20px;
}
.caixa .chec{
    float: left;
    width: 20px;
}
.dados2 h5{
    margin-top: 23px;
}
.dados2 .botao{
    float: right;
}
.inscrever{  
    float: left;
    height: 17px;
    width: 78px;
    margin-left: 55px;
    margin-top: 15px;
}
.inscrever a{
    color: rgb(0, 160, 160);
    font-style: normal;
}